Debug/*
packages/*
x64/*
*.vcxproj*
.vs/*
.idea/*
build/*
out/*
cmake-build-debug/*
x64-Debug/*
/CMakeSettings.json
CMakeLists.txt.user
cmake-build-debug-visual-studio/*
/test-out
/tbuild
/libs/windows/*.lib
/libs/windows/*.dll
/libs/windows/*.exp
/libs/linux/*.a
/pub_include
.vscode/
.idea/
.cache/
lib/
compile_commands.json
cmake_install.cmake
generate.stamp
generate.stamp.depend
